<link href="../Content/create-new-quiz.css" rel="stylesheet" />
<main>
    <div class="question-form">
        <div class="question">
            <div class="row">
                <div class="col l6 m6 s6">
                    <form>
                        <textarea class="input-form"> Nhập câu hỏi </textarea>
                    </form>
                </div>
                <div class="col l6 m6 s6">
                    <textarea class="number-of-question pad10"> Nhập số lượng câu hỏi </textarea>
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        OK
                    </button>
                </div>
            </div>
        </div>
        <div class="answer">
            <div class="row">
                <div class="col l3 m3 s3">
                    <form>
                        <textarea class="answer-form pad10"> Đáp án a </textarea>
                    </form>
                </div>
                <div class="col l3 m3 s3">
                    <form>
                        <textarea class="answer-form pad10"> Đáp án b </textarea>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col l3 m3 s3">
                    <form>
                        <textarea class="answer-form pad10"> Đáp án c </textarea>
                    </form>
                </div>
                <div class="col l3 m3 s3">
                    <form>
                        <textarea class="answer-form pad10"> Đáp án d </textarea>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>