<link href="../Content/Style/create-new-quiz.css" rel="stylesheet" />
<main ng-controller="NewQuizController">
    <div class="question-form">
        <div id="questionGen">
            <div>
                <textarea class="number-of-question pad10" ng-model="totalQuestion" placeholder="Nhập số lượng câu hỏi "> </textarea>
                <button class="btn waves-effect waves-light" type="button" name="action" ng-click="GenerateQuestion(totalQuestion)">
                    Tạo câu hỏi
                </button>
            </div>
        </div>
        <div id="cloneArea">
            <div id="cloneContent">
                <div class="question">
                    <div class="row">
                        <div class="col l12 m12 s12">
                            <textarea class="input-form" placeholder="Nhập câu hỏi"></textarea>
                        </div>
                    </div>
                </div>
                <div class="answer">
                    <div class="row">
                        <div class="col l6 m6 s6">
                            <textarea class="answer-form pad10" placeholder="Đáp án a">  </textarea>
                        </div>
                        <div class="col l6 m6 s6">
                            <textarea class="answer-form pad10" placeholder="Đáp án b"> </textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l6 m6 s6">
                            <textarea class="answer-form pad10" placeholder="Đáp án c"> </textarea>
                        </div>
                        <div class="col l6 m6 s6">
                            <textarea class="answer-form pad10" placeholder="Đáp án d"> </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>