<main ng-controller="ImportQuestionController">
    <div id="upload-form">
        <div class="container">
            <div class="row">
                <form class="col s12 m10 l10" ng-submit="ImportQuestion()" novalidate name="ImportQuestionForm">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" onchange="angular.element(this).scope().CheckFile(this)" required ng-class="Submitted?'ng-dirty':''">
                            <span class="has-error" ng-show="(ImportQuestionForm.file.$dirty || Submitted) && ImportQuestionForm.file.$error.required">Vui Lòng Chọn File</span>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>

                    <button class="btn waves-effect waves-right" type="submit" ng-hide="HideUploadBtn">
                        Upload
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </button>
                    <img src="/Content/img/hourglass.gif" ng-show="Loading" />
                </form>
            </div>

            <div class="row">
                {{fileUpload.name}} {{fileMessage}}
            </div>
        </div>
    </div>
</main>