.input-form{
	width: 100%;
	height: 155px;
	padding: 12px 20px;
	font-size: 16px;
}
.input-form ,.answer-form,.number-of-question{
	box-sizing: border-box;
	border: 1px solid #3D434A;
	border-radius: 4px;
	background-color:rgba(62, 68, 76, 0);
	resize: none;
}
.number-of-question{
    width: 40%;
    margin-left: 20px;
    margin-right: 20px;
}
.question-form button{
	bottom: 18px;
	background-color: #2E353D;
}
.question-form button:hover{
	background-color: #5A7B78;
}
.question-form {
	padding-top: 100px;
	padding-bottom: 50px;
	padding-left: 55px;
}
.question-form .input-form:focus, .number-of-question:focus, .answer .answer-form:focus{
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	transition: all 0.4s;
}
@media only screen and (min-width: 993px){
	.container {
		width: 55%;
	}
