#question-form .input-form{
	width: 100%;
	padding: 12px 20px;
	font-size: 16px;
}
#question-form textarea.materialize-textarea{
	min-height: 10rem !important;
}
#question-form textarea.materialize-textarea.answer-form{
	min-height: 3rem !important;
}
#question-form .input-field label{
	top: 1rem !important;
	left: 1rem;
}
/* #question-form .input-field label.active{
	font-size: 0.8rem !important;
	transform: translateY(-200%);
} */
#question-form .input-form ,#question-form .answer-form,#question-form .number-of-question{
	box-sizing: border-box;
	border: 1px solid #3D434A;
	border-radius: 4px;
	background-color:rgba(62, 68, 76, 0);
	resize: none;
}
#question-form .number-of-question{
    width: 40%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}
#question-form button{
	bottom: 3px;
	background-color: #2E353D;
}
#question-form button:hover{
	background-color: #5A7B78;
}
#question-form {
	padding-top: 100px;
	padding-bottom: 50px;
	padding-left: 55px;
}
#question-form .input-form:focus, #question-form .number-of-question:focus, #question-form .answer-form:focus{
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	transition: all 0.4s;
}
@media only screen and (min-width: 993px){
	.container {
		width: 55%;
	}
