*{box-sizing: border-box;}
@fa-font-path:"fonts";
@font-face {
    font-family: helveticaneue-light-webfont;
    src: url(../fonts/helveticaneue-light-webfont.woff);
}
body{
	font-family: helveticaneue-light-webfont;
}
.wrapped {
	height:620px;
}
.card{
	display: inline-block;
    position: relative;
    width: 100%;
    border-radius: 3px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	top:125px;
	min-height:425px;
}
.card  .head{
    background: linear-gradient(60deg, #26A69A, #1F7EA2);
	width: 80%;
    margin: auto;
	min-height:160px;
}
.card-login .head{
	box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
	margin-top:-30px;
	margin-bottom: 60px;
	color: #FFFFFF;
}
.text-center{
	text-align: center;
}
.content .fa-2x {
    padding-left: 25px;
    padding-top: 15px;
}
.btn{
	margin:10px 0 10px 0 !important;
}
.content{
	padding:0 10px 0 10px;
}
.input-field{
	float:right;
	margin-top:0 !important;
	width: 77%;
    right: 23px;
}
.form-group{
	margin-bottom: 30px !important;
    margin-top: 20px;
}
input[type=text]{
	margin: 0 0 15px 0 !important;
}
.clear{
	clear:both;
}
.btn:focus, .btn:hover {
    color: #fff !important;
    text-decoration: none;
}
p{
	font-size: 1.1rem;
	margin: 10px 0px 10px !important;

}
label{margin-top:2px !important;}
.remember{
	text-align:center;
	margin:10px 0 10px 0;
}
[type="checkbox"].filled-in:not(:checked)+label:after {
    height: 15px !important;
    width: 15px !important;
}
[type="checkbox"]+label{
	padding-left: 30px !important;
	line-height:17px !important;
	
}
[type="checkbox"].filled-in:checked+label:after{
	width:15px !important;
	height:15px !important;
}
[type="checkbox"].filled-in:checked+label:before{
	width:6px !important;
	height:10px !important;
}
.copyright{
	    padding-left: 20px;
		padding-right:20px;
}
.footer .copyright a:hover{
	text-decoration:none;
	color:#26A69A;
	transition:all 1.2s;
}
.padding20{
	padding:20px;
}
