@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="500 Internal Server Error">
    <meta name="author" content="">
    <title>500 Internal Server Error</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
        /* Error Page Inline Styles */
        body {
            padding-top: 20px;
        }
        /* Layout */
        .jumbotron {
            font-size: 21px;
            font-weight: 200;
            line-height: 2.1428571435;
            color: inherit;
            padding: 10px 0px;
        }
        /* Everything but the jumbotron gets side spacing for mobile-first views */
        .masthead, .body-content, {
            padding-left: 15px;
            padding-right: 15px;
        }
        /* Main marketing message and sign up button */
        .jumbotron {
            text-align: center;
            background-color: transparent;
        }

            .jumbotron .btn {
                font-size: 21px;
                padding: 14px 24px;
            }
        /* Colors */
        .green {
            color: #5cb85c;
        }

        .orange {
            color: #f0ad4e;
        }

        .red {
            color: #d9534f;
        }

        #page500 {
            margin-top: 10%;
        }
    </style>
</head>
<body>
    <!-- Error Page Content -->
    <div class="container" id="page500">
        <!-- Jumbotron -->
        <div class="jumbotron">
            <h1><span class="glyphicon glyphicon-fire red"></span> 500 Internal Server Error</h1>
            <p class="lead">Có lỗi hệ thống xảy ra vui lòng liên hệ admin</p>
            <a href="/Admin" class="btn btn-default btn-lg text-center"><span class="green">Try This Page Again</span></a>
        </div>
    </div>
</body>
</html>