Use Test_System
go

Create table TestDetails(
Id char (10) primary key not null,
Question ntext,
Images ntext,
AnswerA ntext,
AnswerB ntext,
AnswerC ntext,
AnswerD ntext,
CorrectAnswer char,
TypeOfQuestion nvarchar(50),
Point float,
TestChildSubjectId char(10)
)
insert into TestDetails values ('TD1',N'Những cái nào sau đây là thành phần của UML?',null,N'Mô Hình Activity',N'Mô hình Collaboration',N'Mô hình Sequence',N'Mô hình Use-case','A',N'Trắc nghiệm',0.25,'TCS1')
insert into TestDetails values ('TD2',N'Sự tách biệt giữa hệ thống và môi trường của nó là một ví dụ của?',null,N'System boundary',N'Automation boundary',N'Information boundary',N'Production boundary','B',N'Trắc nghiệm',0.25,'TCS1')

-- Bảng chứa tiểu mục của một môn
Create table TestChildSubjects(
Id char(10) primary key not null,
TestChildSubjectId char(10),
SubjectCode char(10),
TestChildSujectName nvarchar(100),
TestSubjectId char(10)

)

insert into TestChildSubjects values ('01','TCS1','001',N'Phân tích thiết kế giải thuật','TS1')
insert into TestChildSubjects values ('02','TCS1','001',N'Phân tích thiết kế hệ thống thông tin','TS1')
insert into TestChildSubjects values ('03','TCS1','001',N'Phân tích thiết kế hướng đối tượng','TS1')

Create table TestSubjects(
Id char(10) primary key not null,
SubjectName nvarchar(100),
SubjectCode char(10),
NoOfEasyQuestion int,
NoOfMediumQuestion int,
NoOfHardQuestion int,
TestDate datetime,
TestTime int,
ResultId char(10),
TestMapId char(10)
)

insert into TestSubjects values ('001',N'Phân tích','1',15,10,5,'9-18-2016 8:11',60,'R1','TM1')

insert into TestSubjects values ('002',N'Toán','2',20,5,5,'7-22-2016 9:12',60,'R1','TM1')

insert into TestSubjects values ('003',N'IQ','3',20,5,10,'7-21-2016 8:30',60,'R1','TM1')



