USE [master]
GO
/****** Object:  Database [TestSystemManagementDB]    Script Date: 09/09/2016 9:08:50 CH ******/
CREATE DATABASE [TestSystemManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestSystemManagementDB', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TestSystemManagementDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestSystemManagementDB_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TestSystemManagementDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestSystemManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestSystemManagementDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 09/09/2016 9:08:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Results]    Script Date: 09/09/2016 9:08:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectCode] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[TestDate] [datetime] NOT NULL,
	[Total] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Results] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ResultUsers]    Script Date: 09/09/2016 9:08:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultUsers](
	[Result_Id] [int] NOT NULL,
	[Users_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ResultUsers] PRIMARY KEY CLUSTERED 
(
	[Result_Id] ASC,
	[Users_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TestChildSubjects]    Script Date: 09/09/2016 9:08:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestChildSubjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TestChildSubjectId] [uniqueidentifier] NOT NULL,
	[SubjectCode] [uniqueidentifier] NOT NULL,
	[TestChildSubjectName] [nvarchar](10) NOT NULL,
	[TestSubject_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.TestChildSubjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TestDetails]    Script Date: 09/09/2016 9:08:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](255) NOT NULL,
	[AnswerA] [nvarchar](100) NOT NULL,
	[AnswerB] [nvarchar](100) NOT NULL,
	[AnswerC] [nvarchar](100) NOT NULL,
	[AnswerD] [nvarchar](100) NOT NULL,
	[UserAnswer] [nvarchar](100) NULL,
	[CorrectAnswer] [nvarchar](100) NULL,
	[TypeOfQuestion] [int] NOT NULL,
	[Point] [float] NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[TestChildSubjectId] [uniqueidentifier] NOT NULL,
	[TestChildSubject_Id] [int] NULL,
 CONSTRAINT [PK_dbo.TestDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TestMaps]    Script Date: 09/09/2016 9:08:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestMaps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[SubjectCode] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.TestMaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TestSubjects]    Script Date: 09/09/2016 9:08:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestSubjects](
	[Id] [uniqueidentifier] NOT NULL,
	[SubjectName] [nvarchar](50) NOT NULL,
	[SubjectCode] [uniqueidentifier] NOT NULL,
	[SecretCode] [nvarchar](10) NOT NULL,
	[NoOfEasyQuestion] [int] NOT NULL,
	[NoOfMediumQuestion] [int] NOT NULL,
	[NoOfHardQuestion] [int] NOT NULL,
	[TestDate] [datetime] NOT NULL,
	[TestTime] [timestamp] NOT NULL,
	[Result_Id] [int] NULL,
	[TestMap_Id] [int] NULL,
 CONSTRAINT [PK_dbo.TestSubjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/09/2016 9:08:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Level] [int] NOT NULL,
	[TestMap_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersTestDetails]    Script Date: 09/09/2016 9:08:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTestDetails](
	[Users_Id] [int] NOT NULL,
	[TestDetail_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UsersTestDetails] PRIMARY KEY CLUSTERED 
(
	[Users_Id] ASC,
	[TestDetail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserId], [Username], [Password], [Level], [TestMap_Id]) VALUES (1, N'51303129', N'phucngo', N'070695', 1, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_Result_Id]    Script Date: 09/09/2016 9:08:50 CH ******/
CREATE NONCLUSTERED INDEX [IX_Result_Id] ON [dbo].[ResultUsers]
(
	[Result_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_Id]    Script Date: 09/09/2016 9:08:50 CH ******/
CREATE NONCLUSTERED INDEX [IX_Users_Id] ON [dbo].[ResultUsers]
(
	[Users_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestSubject_Id]    Script Date: 09/09/2016 9:08:50 CH ******/
CREATE NONCLUSTERED INDEX [IX_TestSubject_Id] ON [dbo].[TestChildSubjects]
(
	[TestSubject_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestChildSubject_Id]    Script Date: 09/09/2016 9:08:50 CH ******/
CREATE NONCLUSTERED INDEX [IX_TestChildSubject_Id] ON [dbo].[TestDetails]
(
	[TestChildSubject_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Result_Id]    Script Date: 09/09/2016 9:08:50 CH ******/
CREATE NONCLUSTERED INDEX [IX_Result_Id] ON [dbo].[TestSubjects]
(
	[Result_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestMap_Id]    Script Date: 09/09/2016 9:08:50 CH ******/
CREATE NONCLUSTERED INDEX [IX_TestMap_Id] ON [dbo].[TestSubjects]
(
	[TestMap_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestMap_Id]    Script Date: 09/09/2016 9:08:50 CH ******/
CREATE NONCLUSTERED INDEX [IX_TestMap_Id] ON [dbo].[Users]
(
	[TestMap_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestDetail_Id]    Script Date: 09/09/2016 9:08:50 CH ******/
CREATE NONCLUSTERED INDEX [IX_TestDetail_Id] ON [dbo].[UsersTestDetails]
(
	[TestDetail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_Id]    Script Date: 09/09/2016 9:08:50 CH ******/
CREATE NONCLUSTERED INDEX [IX_Users_Id] ON [dbo].[UsersTestDetails]
(
	[Users_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestSubjects] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[ResultUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ResultUsers_dbo.Results_Result_Id] FOREIGN KEY([Result_Id])
REFERENCES [dbo].[Results] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ResultUsers] CHECK CONSTRAINT [FK_dbo.ResultUsers_dbo.Results_Result_Id]
GO
ALTER TABLE [dbo].[ResultUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ResultUsers_dbo.Users_Users_Id] FOREIGN KEY([Users_Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ResultUsers] CHECK CONSTRAINT [FK_dbo.ResultUsers_dbo.Users_Users_Id]
GO
ALTER TABLE [dbo].[TestChildSubjects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestChildSubjects_dbo.TestSubjects_TestSubject_Id] FOREIGN KEY([TestSubject_Id])
REFERENCES [dbo].[TestSubjects] ([Id])
GO
ALTER TABLE [dbo].[TestChildSubjects] CHECK CONSTRAINT [FK_dbo.TestChildSubjects_dbo.TestSubjects_TestSubject_Id]
GO
ALTER TABLE [dbo].[TestDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestDetails_dbo.TestChildSubjects_TestChildSubject_Id] FOREIGN KEY([TestChildSubject_Id])
REFERENCES [dbo].[TestChildSubjects] ([Id])
GO
ALTER TABLE [dbo].[TestDetails] CHECK CONSTRAINT [FK_dbo.TestDetails_dbo.TestChildSubjects_TestChildSubject_Id]
GO
ALTER TABLE [dbo].[TestSubjects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestSubjects_dbo.Results_Result_Id] FOREIGN KEY([Result_Id])
REFERENCES [dbo].[Results] ([Id])
GO
ALTER TABLE [dbo].[TestSubjects] CHECK CONSTRAINT [FK_dbo.TestSubjects_dbo.Results_Result_Id]
GO
ALTER TABLE [dbo].[TestSubjects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestSubjects_dbo.TestMaps_TestMap_Id] FOREIGN KEY([TestMap_Id])
REFERENCES [dbo].[TestMaps] ([Id])
GO
ALTER TABLE [dbo].[TestSubjects] CHECK CONSTRAINT [FK_dbo.TestSubjects_dbo.TestMaps_TestMap_Id]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.TestMaps_TestMap_Id] FOREIGN KEY([TestMap_Id])
REFERENCES [dbo].[TestMaps] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.TestMaps_TestMap_Id]
GO
ALTER TABLE [dbo].[UsersTestDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsersTestDetails_dbo.TestDetails_TestDetail_Id] FOREIGN KEY([TestDetail_Id])
REFERENCES [dbo].[TestDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersTestDetails] CHECK CONSTRAINT [FK_dbo.UsersTestDetails_dbo.TestDetails_TestDetail_Id]
GO
ALTER TABLE [dbo].[UsersTestDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsersTestDetails_dbo.Users_Users_Id] FOREIGN KEY([Users_Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersTestDetails] CHECK CONSTRAINT [FK_dbo.UsersTestDetails_dbo.Users_Users_Id]
GO
USE [master]
GO
