USE [master]
GO
/****** Object:  Database [TestSystemManagementDB]    Script Date: 29/09/2016 11:21:15 CH ******/
CREATE DATABASE [TestSystemManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestSystemManagementDB', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TestSystemManagementDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestSystemManagementDB_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TestSystemManagementDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestSystemManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestSystemManagementDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 29/09/2016 11:21:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Results]    Script Date: 29/09/2016 11:21:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectCode] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[TestDate] [datetime] NOT NULL,
	[Total] [float] NOT NULL,
	[User_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Results] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TestChildSubjects]    Script Date: 29/09/2016 11:21:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestChildSubjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TestChildSubjectId] [nvarchar](20) NULL,
	[SubjectCode] [nvarchar](50) NOT NULL,
	[TestChildSubjectName] [nvarchar](50) NOT NULL,
	[TestSubject_Id] [int] NULL,
 CONSTRAINT [PK_dbo.TestChildSubjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TestDetailResults]    Script Date: 29/09/2016 11:21:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestDetailResults](
	[TestDetail_Id] [int] NOT NULL,
	[Result_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TestDetailResults] PRIMARY KEY CLUSTERED 
(
	[TestDetail_Id] ASC,
	[Result_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TestDetails]    Script Date: 29/09/2016 11:21:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](255) NOT NULL,
	[AnswerA] [nvarchar](100) NOT NULL,
	[AnswerB] [nvarchar](100) NOT NULL,
	[AnswerC] [nvarchar](100) NOT NULL,
	[AnswerD] [nvarchar](100) NOT NULL,
	[CorrectAnswer] [nvarchar](100) NULL,
	[TypeOfQuestion] [int] NOT NULL,
	[Point] [float] NOT NULL,
	[TestChildSubject_Id] [int] NULL,
	[User_Id] [int] NULL,
	[TestMap_Id] [int] NULL,
 CONSTRAINT [PK_dbo.TestDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TestMaps]    Script Date: 29/09/2016 11:21:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestMaps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[SubjectCode] [nvarchar](50) NULL,
	[Result_Id] [int] NULL,
	[User_Id] [int] NULL,
 CONSTRAINT [PK_dbo.TestMaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TestSubjects]    Script Date: 29/09/2016 11:21:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestSubjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](50) NOT NULL,
	[SubjectCode] [nvarchar](50) NOT NULL,
	[SecretCode] [nvarchar](10) NOT NULL,
	[NoOfEasyQuestion] [int] NOT NULL,
	[NoOfMediumQuestion] [int] NOT NULL,
	[NoOfHardQuestion] [int] NOT NULL,
	[TestDate] [datetime] NOT NULL,
	[FinishTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.TestSubjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 29/09/2016 11:21:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[AccessLevel] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TestChildSubjects] ON 

INSERT [dbo].[TestChildSubjects] ([Id], [TestChildSubjectId], [SubjectCode], [TestChildSubjectName], [TestSubject_Id]) VALUES (1, N'TCS001', N'PTK0001', N'Phân tích thiết kế giải thuật', 1)
INSERT [dbo].[TestChildSubjects] ([Id], [TestChildSubjectId], [SubjectCode], [TestChildSubjectName], [TestSubject_Id]) VALUES (2, N'TCS002', N'PTKHT001', N'Phân tích thiết kế hệ thống thông tin', 1)
INSERT [dbo].[TestChildSubjects] ([Id], [TestChildSubjectId], [SubjectCode], [TestChildSubjectName], [TestSubject_Id]) VALUES (3, N'TCS003', N'PTOOP001', N'Phân tích thiết kế hướng đối tượng', 1)
SET IDENTITY_INSERT [dbo].[TestChildSubjects] OFF
SET IDENTITY_INSERT [dbo].[TestSubjects] ON 

INSERT [dbo].[TestSubjects] ([Id], [SubjectName], [SubjectCode], [SecretCode], [NoOfEasyQuestion], [NoOfMediumQuestion], [NoOfHardQuestion], [TestDate], [FinishTime]) VALUES (1, N'1', N'Phân tích', N'1', 15, 10, 5, CAST(N'2016-09-18 08:11:00.000' AS DateTime), CAST(N'1900-01-01 01:30:00.000' AS DateTime))
INSERT [dbo].[TestSubjects] ([Id], [SubjectName], [SubjectCode], [SecretCode], [NoOfEasyQuestion], [NoOfMediumQuestion], [NoOfHardQuestion], [TestDate], [FinishTime]) VALUES (2, N'2', N'Toán', N'2', 20, 5, 5, CAST(N'2016-07-22 09:12:00.000' AS DateTime), CAST(N'1900-01-01 01:30:00.000' AS DateTime))
INSERT [dbo].[TestSubjects] ([Id], [SubjectName], [SubjectCode], [SecretCode], [NoOfEasyQuestion], [NoOfMediumQuestion], [NoOfHardQuestion], [TestDate], [FinishTime]) VALUES (3, N'3', N'IQ', N'3', 20, 5, 10, CAST(N'2016-07-21 08:30:00.000' AS DateTime), CAST(N'1900-01-01 01:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TestSubjects] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserId], [Username], [Password], [AccessLevel]) VALUES (1, N'51303129', N'phucngo', N'070695', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_User_Id]    Script Date: 29/09/2016 11:21:15 CH ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[Results]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestSubject_Id]    Script Date: 29/09/2016 11:21:15 CH ******/
CREATE NONCLUSTERED INDEX [IX_TestSubject_Id] ON [dbo].[TestChildSubjects]
(
	[TestSubject_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Result_Id]    Script Date: 29/09/2016 11:21:15 CH ******/
CREATE NONCLUSTERED INDEX [IX_Result_Id] ON [dbo].[TestDetailResults]
(
	[Result_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestDetail_Id]    Script Date: 29/09/2016 11:21:15 CH ******/
CREATE NONCLUSTERED INDEX [IX_TestDetail_Id] ON [dbo].[TestDetailResults]
(
	[TestDetail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestChildSubject_Id]    Script Date: 29/09/2016 11:21:15 CH ******/
CREATE NONCLUSTERED INDEX [IX_TestChildSubject_Id] ON [dbo].[TestDetails]
(
	[TestChildSubject_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestMap_Id]    Script Date: 29/09/2016 11:21:15 CH ******/
CREATE NONCLUSTERED INDEX [IX_TestMap_Id] ON [dbo].[TestDetails]
(
	[TestMap_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 29/09/2016 11:21:15 CH ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[TestDetails]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Result_Id]    Script Date: 29/09/2016 11:21:15 CH ******/
CREATE NONCLUSTERED INDEX [IX_Result_Id] ON [dbo].[TestMaps]
(
	[Result_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 29/09/2016 11:21:15 CH ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[TestMaps]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Results_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_dbo.Results_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[TestChildSubjects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestChildSubjects_dbo.TestSubjects_TestSubject_Id] FOREIGN KEY([TestSubject_Id])
REFERENCES [dbo].[TestSubjects] ([Id])
GO
ALTER TABLE [dbo].[TestChildSubjects] CHECK CONSTRAINT [FK_dbo.TestChildSubjects_dbo.TestSubjects_TestSubject_Id]
GO
ALTER TABLE [dbo].[TestDetailResults]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestDetailResults_dbo.Results_Result_Id] FOREIGN KEY([Result_Id])
REFERENCES [dbo].[Results] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestDetailResults] CHECK CONSTRAINT [FK_dbo.TestDetailResults_dbo.Results_Result_Id]
GO
ALTER TABLE [dbo].[TestDetailResults]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestDetailResults_dbo.TestDetails_TestDetail_Id] FOREIGN KEY([TestDetail_Id])
REFERENCES [dbo].[TestDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestDetailResults] CHECK CONSTRAINT [FK_dbo.TestDetailResults_dbo.TestDetails_TestDetail_Id]
GO
ALTER TABLE [dbo].[TestDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestDetails_dbo.TestChildSubjects_TestChildSubject_Id] FOREIGN KEY([TestChildSubject_Id])
REFERENCES [dbo].[TestChildSubjects] ([Id])
GO
ALTER TABLE [dbo].[TestDetails] CHECK CONSTRAINT [FK_dbo.TestDetails_dbo.TestChildSubjects_TestChildSubject_Id]
GO
ALTER TABLE [dbo].[TestDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestDetails_dbo.TestMaps_TestMap_Id] FOREIGN KEY([TestMap_Id])
REFERENCES [dbo].[TestMaps] ([Id])
GO
ALTER TABLE [dbo].[TestDetails] CHECK CONSTRAINT [FK_dbo.TestDetails_dbo.TestMaps_TestMap_Id]
GO
ALTER TABLE [dbo].[TestDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestDetails_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TestDetails] CHECK CONSTRAINT [FK_dbo.TestDetails_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[TestMaps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestMaps_dbo.Results_Result_Id] FOREIGN KEY([Result_Id])
REFERENCES [dbo].[Results] ([Id])
GO
ALTER TABLE [dbo].[TestMaps] CHECK CONSTRAINT [FK_dbo.TestMaps_dbo.Results_Result_Id]
GO
ALTER TABLE [dbo].[TestMaps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TestMaps_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TestMaps] CHECK CONSTRAINT [FK_dbo.TestMaps_dbo.Users_User_Id]
GO
USE [master]
GO
