@{
    ViewBag.Title = "Trang chu";
}
<ul class="menu">
    <li><a href="/about">About</a></li>
    <li><a href="/order/100">Order</a></li>
    <li><a href="/error">Error</a></li>
</ul>
<div>
    <ng-view></ng-view>
</div>
@section Scripts{
    <script src="~/Scripts/app/IndexController.js"></script>
}