@{
    ViewBag.Title = "Hệ Thống Quản Lý Ngân Hàng Câu Hỏi Trắc Nghiệm";
}
<header>
    <div class="side-navbar" ng-controller="IndexController">
        <div class="nav-side-menu">
            <div class="brand">
                <img src="~/Content/img/avatar.png" />
                <p>Welcome</p>
            </div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
            <div class="menu-list">
                <ul class="collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header management">
                            <i class="fa fa-dashboard fa-lg pad9"></i>Dashboard
                        </div>
                    </li>
                </ul>
                <ul class="collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header management">
                            <i class="fa fa-pencil pad9" aria-hidden="true"></i>Quản Lý Môn Thi
                            <span class="arrow"></span>
                        </div>
                        <div class="collapsible-body sub-menu">
                            <ul>
                                <li> <a href="/admin/subject/new-subject">Tạo Mới Môn Thi </a></li>
                                <li> <a href="/admin/subject/update-subject">Cập Nhật Môn Thi </a> </li>
                                <li> <a href="/admin/subject/delete-subject"> Xóa Môn Thi</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header management">
                            <i class="fa fa-pencil pad9" aria-hidden="true"></i>Quản Lý Đề Thi
                            <span class="arrow"></span>
                        </div>
                        <div class="collapsible-body sub-menu">
                            <ul>
                                <li> <a href="/admin/quiz/import-quiz">Upload Đề Thi </a></li>
                                <li> <a href="/admin/quiz/new-quiz">Tạo Mới Đề Thi </a> </li>
                                <li> <a href="/admin/quiz/edit-quiz"> Chỉnh Sửa Đề Thi</a></li>
                                <li> <a href="/admin/quiz/delete-quiz">Xoá Đề Thi</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header management">
                            <i class="fa fa-power-off pad9" aria-hidden="true"></i><a href="/Account/Logout" ng-click="Logout()" target="_self">Đăng Xuất</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<ng-view></ng-view>

@section scripts{
    <script src="~/Scripts/app/IndexController.js"></script>
    <script src="~/Scripts/app/NewSubjectController.js"></script>
}